{% extends "questions/base.html" %} {% block content %}

<h4>About this demo</h4>

<h5>Beats</h5>
<p>
  The <a href="https://www.elastic.co/products/beats">Beats</a> are lightweight data shippers, written in Go, that you install on your servers to capture all sorts of operational data (think of logs, metrics, or network packet data). The Beats send the
  operational data to Elasticsearch, either directly or via Logstash, so it can be visualized with Kibana.
</p>

<h5>Demo scenario</h5>
<div class="text-center">
  <img src="/static/scenario.png" class="img-fluid" alt="scenario diagram" />
</div>

<p>
  This demo runs on Kubernetes, it's composed of a simple Django app, served by uWSGI and with a Nginx frontend. It uses MySQL as data backend.
</p>

<p>
  Everything is monitored using Beats and <a href="https://www.elastic.co/guide/en/apm/get-started/master/index.html">Elastic APM</a>.

  <ul>
    <li><a href="https://www.elastic.co/guide/en/beats/filebeat/6.2/running-on-kubernetes.html">Filebeat</a> ships logs from all running containers, enriched with Kubernetes metadata</li>
    <li><a href="https://www.elastic.co/guide/en/beats/metricbeat/6.2/running-on-kubernetes.html">Metricbeat</a> ships system metrics for all nodes in the cluster and Kubernetes metrics on containers resource consumption and state</li>
    <li><a href="https://www.elastic.co/guide/en/beats/packetbeat/6.2/index.html">Packetbeat</a> monitors the network and applications by sniffing packets</li>
    <li><a href="https://www.elastic.co/guide/en/apm/get-started/6.2/index.html">Elastic APM</a> gather tracing timing data from your applications</li>
  </ul>
</p>

{% endblock content %}