{% extends "questions/base.html" %} {% block content %}
<h4>Questions</h4>
<p>This is the list of user submitted questions, sorted by number of votes. You can also <a href="/submit/">add a new question</a>.</p>

{% for question in questions %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">#{{ forloop.counter }} {{ question.title }}</h4>
    <h6 class="card-subtitle mb-2 text-muted">97 votes, submitted by <strong>{{ question.author }}</strong></h6>
    <button type="button" class="btn btn-primary float-right" aria-label="Vote up"><span class="fa fa-chevron-up" aria-hidden="true"></span> Vote</button>
  </div>
</div>
{% empty %}
<div class="alert alert-primary" role="alert">
  There are no questions yet, do you want to <a href="{% url 'questions:create' %}">submit one</a>?</div>
{% endfor %} {% endblock content %}
